@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/MyriadPro-Regular.otf') format('otf');
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MyriadPro-Bold.woff') format('woff'),
         url('../fonts/MyriadPro-Bold.ttf') format('truetype'),
         url('../fonts/MyriadPro-Bold.otf') format('otf');
}
@font-face {
    font-family: 'AmazingGrotesk';
    src: url('../fonts/AmazingGrotesk.eot');
    src: url('../fonts/AmazingGrotesk.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AmazingGrotesk.woff') format('woff'),
         url('../fonts/AmazingGrotesk.ttf') format('truetype'),
         url('../fonts/AmazingGrotesk.otf') format('otf');
}
@font-face {
    font-family: 'Hoefler Text';
    src: url('../fonts/Hoefler_Text.eot');
    src: url('../fonts/Hoefler_Text.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Hoefler_Text.woff') format('woff'),
         url('../fonts/Hoefler_Text.otf') format('otf'),
         url('../fonts/Hoefler_Text.ttf') format('truetype'),
         url('../fonts/Hoefler_Text.otf') format('otf');
}