* {
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'MyriadPro-Regular';
}
body.noscroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'AmazingGrotesk';
    margin: 0;
    font-weight: normal;
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
}
h2 {
    font-size: 30px;
    color: #000;
}
h2 span {
    color: #4ac77f;
}
h3 {
    font-size: 24px;
    color: #fff;
}
p, a, ul, li, input, label, button, textarea {
    margin: 0;
    padding: 0;
}
p {
    font-size: 16px;
    color: #666666;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.wrap {
    margin: auto;
    width: 960px;
}

/* Header
------------------------------------------------------------------------------------ */
.header_container {
    height: 780px;
    min-width: 960px;
}
.header_container .top {
    padding-top: 15px;
}
.header_container .top .contacts {
    float: right;
    text-align: right;
}
.header_container .top .contacts h2,
.header_container .top .contacts p,
.header_container .top .contacts a {
    font-family: 'AmazingGrotesk';
    color: #fff;
}
.header_container .top .contacts p {
    font-size: 18px;
}
.header_container .top .contacts h2 {
    font-size: 32px;
    margin: 3px 0;
}
.header_container .top .contacts a {
    border: 1px solid #fff;
    padding: 1px 4px;
    text-decoration: none;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.header_container .top .contacts a:hover {
    background: #fff;
    color: #000;
}
.header_container h1 {
    margin: 70px 0 30px;
}
.header_container p.info {
    font-family: 'AmazingGrotesk';
    font-size: 24px;
    color: #000;
    background: #fff;
    float: left;
    margin-bottom: 5px;
    padding: 0 10px;
}
.header_container .catalog_link {
    text-align: center;
    margin-top: 25px;
}
.header_container .catalog_link a {
    font-family: 'AmazingGrotesk';
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 20px;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.header_container .catalog_link a:hover {
    background: #fff;
    color: #000;
}
.header_container ul.product {
    list-style: none;
    margin-top: 82px;
    padding: 0 10px;
}
.header_container ul.product li {
    padding-top: 18px;
    float: left;
    width: 220px;
    height: 230px;
    text-align: center;
    margin-right: 20px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: relative;
}
.header_container ul.product li:last-child {
    margin-right: 0;
}
.header_container ul.product li:hover {
    background: rgba(94,165,124,.7);
}
.header_container ul.product li img {
    width: 98px;
    height: 92px;
}
.header_container ul.product li p {
    font-family: 'AmazingGrotesk';
    font-size: 12px;
    color: #fff;
    margin: 10px 0 5px;
}
.header_container ul.product li a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #27ae60;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    padding: 15px 0;
    -webkit-transition: 0.7s;
     -moz-transition: 0.7s;
     -o-transition: 0.7s;
     transition: 0.7s;
     display: none;
}
.header_container ul.product li a:hover {
    background: #07853c;
}
.header_container ul.product li:hover a {
    display: block;
}
/*Slider
---------------------------------------------------------------------------------------------------*/
#main_slider {height: 450px; overflow:hidden; width: 100%; margin: 0 auto; position: relative; }
#main_slider .viewport { width: 100%; height: 100%; overflow: hidden; position: relative; }
#main_slider .buttons {
    background: #C01313;
    border-radius: 35px;
    display: block;
    margin: 0 0 5px 0;
    width: 70px;
    height: 35px;
    position: relative;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 14px;
}
#main_slider .next {
    margin: 5px 0 0;
}
#main_slider .buttons:hover{
    color: #C01313;
    background: #fff;
}
#main_slider .overview {
    list-style: none;
    position: absolute;
    width: 100%;
    left: 0
    top: 0;
}
#main_slider .overview li{
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
    height: 590px;
    width: 100%;
}
#main_slider .overview li img {
    float: right;
    width: 490px;
    height: 450px;
}
#main_slider .overview li .slide_content {
    width: 450px;
    padding: 30px 20px 0 0;
    float: left;
    position: relative;
    height: 450px;
}
#main_slider .overview li .slide_content p {
    line-height: 30px;
}
#main_slider .overview li .slide_content h2 {
    margin-bottom: 20px;
}
#main_slider .overview li .slide_content div {
    margin-top: 20px;
    position: absolute;
    bottom: 30px;
}
#main_slider .overview li .slide_content div a {
    outline: none;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    padding: 15px 40px;
}
#main_slider .overview li .slide_content div .my_work {
    border: 1px solid #2ec06c;
    border-radius: 5px;
    background: none;
    color: #2ec06c;
    margin: 10px;
}
#main_slider .overview li .slide_content div .my_work:hover {
    background: #2ec06c;
    color: white;
}
#main_slider .overview li .slide_content div .design {
    color: white;
    background: #2ec06c;
    border-radius: 20px;
    border: 1px solid #2ec06c;
}
#main_slider .overview li .slide_content div .design:hover {
    background: none;
    color: #2ec06c;
}
#main_slider .bullets {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 100;
    width: 10px;
    margin-top: -22px;
}
#main_slider .bullets li {
    display: inline;
    list-style-type: none;
}
#main_slider .bullets li a {
    background: url(../img/bullet.png) no-repeat;
    height: 10px;
    width: 11px;
    display: block;
    margin-bottom: 5px;
}
#main_slider .bullets li .active {
    background: url(../img/bullet_active.png) no-repeat;
}
.slider_container {
    width: 100%;
    background: url(../img/bg_slider.jpg) no-repeat;
    background-size: cover;
}
/* Service
----------------------------------------------------------------------------------------------------------------*/
.service_container {
    padding: 110px 0 80px;
    text-align: center;
    min-width: 960px;
}
.service > p {
    font-style: 18px;
    color: #202020;
}
.service h2 {
    margin-bottom: 12px;
}
.service ul {
    margin-top: 60px;
    vertical-align: top;
}
.service ul li {
    list-style-type: none;float: left;
    width: 360px;
    margin-bottom: 25px;
    margin-right: 140px;
    text-align: left;
}
.service ul li:nth-child(2n) {
    margin-right: 0px;
    clear: right;
}
.service ul li:nth-child(2n+1) {
    clear: left;
}
.service ul li img {
    float: left;
    margin-top: 0px;
}
.service ul li div {
    width: 300px;
    float: right;
}
.service ul li h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #202020;
    font-family: 'MyriadPro-Bold';
}
/* Providers
------------------------------------------------------------------------------------ */
.providers_container {
    min-height: 350px;
    background: transparent;
    min-width: 960px;
}
.providers_container p,
.want_too_container p {
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-family: 'AmazingGrotesk';
    padding-top: 72px;
}
.providers_container .providers {
    text-align: center;
    padding-top: 48px;
}
.providers_container .providers a {
    margin-left: 30px;
    margin-right: 30px;
}
/* Best works
------------------------------------------------------------------------------------ */
.best_works_container {
    height: 1050px;
    min-width: 960px;
}
.best_works_container .wrap {
    padding-left: 10px;
    padding-right: 10px;
}
.best_works_container h2 {
    padding-top: 78px;
    text-align: center;
}
.best_works_container p {
    color: #666666;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    padding-top: 23px;
}
.best_works_container .section {
    padding-top: 75px;
    position: relative;
}
.best_works_container .tabs li {
    float: left;
    cursor: pointer;
    color: #000100;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'AmazingGrotesk';
    list-style: none;
    margin-right: 23px;
    margin-bottom: 18px;
    transition: .2s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    -ms-transition: .3s;
}
.best_works_container .tabs li.current,
.best_works_container .tabs li:hover {
    color: #27844f;
    border-bottom: 3px solid #97C89A;
}
.best_works_container .box {
    width: 940px;
    position: absolute;
    left: 0;
    top: 118px;
    z-index: 0;
    opacity: 0;
    transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
}
.best_works_container .box.visible {
    opacity: 1;
    z-index: 1;
}
.best_works_container .carousel ul,
.best_works_container .carousel li {
    height: 660px;
    width: 322px;
}
.best_works_container .work {
    height: 320px;
    width: 300px;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right: 22px;
}
.best_works_container .work img {
    height: 100%;
    width: 100%;
}
.best_works_container .work .img_caption {
    height: 250px;
    position: relative;
}
.best_works_container .img_caption .mask {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 250px;
    text-align: center;
}
.best_works_container .img_caption:hover .mask {
    visibility: visible;
    background: rgba(56,151,96,.7);
}
.best_works_container .mask a {
    width: 151px;
    height: 51px;
    line-height: 51px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
}
.best_works_container .mask a:hover {
    background: #fff;
    color: rgba(56,151,96,1);
}
.best_works_container .work .address {
    height: 70px;
    background: #EEEEEE;
    font-size: 20px;
    color: #202020;
    text-align: center;
    line-height: 70px;
}
.carousel_container {
    clear: both;
    position: relative;
    padding-bottom: 25px;
}
.carousel_container .prev,
.carousel_container .next {
    background: url(../img/best_works/arrows.png) no-repeat;
    width: 46px;
    height: 91px;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    z-index: 50;
    cursor: pointer;
    padding: 0;
    opacity: .5;
    margin-top: -100px;
}
.carousel_container .prev {
    left: -85px;
}
.carousel_container .next {
    right: -85px;
    background-position: -47px 0;
}
.carousel_container .prev:hover,
.carousel_container .next:hover {
    opacity: 1;
}
.carousel {
    margin: auto;
}
/* Want too
------------------------------------------------------------------------------------ */
.want_too_container {
    min-height: 298px;
    min-width: 960px;
    text-align: center;
    background: transparent;
}
.want_too_container .mask {
    background: url(../img/want_mask.png);
    min-height: inherit;
}
.want_too_container h3 {
    padding-top: 79px;
}
.want_too_container p {
    padding-top: 2px;
    line-height: 28px;
}
.want_too_container a.btn {
    height: 50px;
    width: 278px;
    display: inline-block;
    font-family: 'AmazingGrotesk' , sans-serif;
    background: rgba(74,166,109,.7);
    color: #fff;
    text-decoration: none;
    padding-top: 16px;
    border-radius: 25px;
    font-weight: bold;
    margin-top: 43px;
}
.want_too_container a.btn:hover {
    background: #478359;
}
/* history container
------------------------------------------------------------------------------------ */
.history_container h2 {
    text-align: center;
    padding-top: 73px;
}
.history_container p {
    color: #666666;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}
.history_container .section {
    margin-top: 40px;
}
.history_container .carousel li {
    width: 200px;
    margin-right: 0px;
    margin-left: 38px;
}
.history_container li.current .avatar,
.history_container li:hover .avatar {
    border-bottom: 6px solid #97C89A;
    height: 153px;
    padding-bottom: 0;
}
.history_container li.current .avatar .mask,
.history_container li:hover .avatar .mask {
    opacity: 0;
}
.history_container .carousel_container .prev,
.history_container .carousel_container .next {
    top: 150px;
}
.history_container .carousel_container .prev {
    left: -52px;
}
.history_container .carousel_container .next {
    right: -52px;
}
.history_container .carousel li .client {
    width: 200px;
}
.history_container .client p.name {
    text-align: left;
    font-size: 19px;
    color: #202020;
    line-height: 26px;
}
.history_container .client .avatar {
    width: 160px;
    height: 153px;
    padding-bottom: 6px;
    cursor: pointer;
    position: relative;
    background: url(../img/our_clients/avatar_bg.jpg) no-repeat;
    background-size: 160px 147px;
}
.history_container .client .avatar .mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 160px;
    height: 147px;
    background: rgba(0,0,0,.5);
    transition: .3s;
    -o-transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
}
.history_container .client .avatar img {
    width: 100%;
    height: 147px;
}
.history_container .box {
    display: none;
    padding: 60px 45px;
    background: #e9faf0;
    width: 875px;
    margin: auto;
    text-align: center;
}
.history_container .box.visible {
    display: block;
}
.history_container .box .content {
    width: 665px;
    padding: 12px 25px 15px;
    background: white;
    margin: auto;
    position: relative;
    margin-bottom: 65px;
}
.history_container .box .content p {
    color: #000000;
    font-style: 16px;
    line-height: 20px;
    font-family: 'Hoefler Text';
}
.history_container .box .content:before {
    content: url(../img/before.png);
    position: absolute;
    top: 5px;
    left: -6px;
}
.history_container .box .content:after {
    content: url(../img/after.png);
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.history_container .box a {
    display: inline-block;
    margin: 7px;
    width: 140px;
    height: 120px;
    position: relative;
}
.history_container .box a img {
    width: 140px;
    height: 120px;
}
.history_container .box a .zoom {
    position: absolute;
    width: 140px;
    height: 120px;
    bottom: 0;
    left: 0;
    display: none;
    opacity: 0.8;
}
.history_container .box a:last-child {
    margin-right: 0px;
}
.history_container .box a:hover .zoom {
    display: block;
}

/* Contacts
------------------------------------------------------------------------------------ */
.contacts_container {
    padding-top: 55px;
    padding-bottom: 40px;
    min-width: 960px;
}
.contacts_container h2,
.contacts_container p.info {
    text-align: center;
}
.contacts_container p.info {
    margin: 30px 0 50px;
}
.contacts_container .social {
    float: left;
    width: 300px;
}
.contacts_container .social ul li {
    width: 140px;
    height: 140px;
    list-style-type: none;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 15px;
    margin-right: 15px;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
}
.contacts_container .social ul li:nth-child(2n) {
    margin-right: 0px;
}
.contacts_container .social ul li a {
    border-radius: 50%;
    display: block;
    text-align: center;
    border-radius: 6px;
    text-align: center;
    width: 100%;
    line-height: 140px;
}
.contacts_container .social ul li a img {
    vertical-align: middle;
}
.contacts_container .social ul .vk {
    border: 1px solid #6980b0;
}
.contacts_container .social ul .classmates {
    border: 1px solid #f2b96f;
}
.contacts_container .social ul .facebook {
    border: 1px solid #7a9db9;
}
.contacts_container .social ul .skype {
   border: 1px solid #00baff;
}

.contacts_container .social ul .vk:hover {
    background: #6980b0;
}
.contacts_container .social ul .classmates:hover {
    background: #f2b96f;
}
.contacts_container .social ul .facebook:hover {
    background: #7a9db9;
}
.contacts_container .social ul .skype:hover {
    background: #00baff;
}
.contacts_container .social .address {
    border: 1px solid #61c48d;
    padding: 11px 28px 10px;
    border-radius: 20px;
    text-align: center;
}
.contacts_container .social .address p {
    font-style: 18px;
    color: #000000;
}
.contacts_container form {
    float: right;
    width: 625px;
}
.contacts_container form .inp_container {
    margin-bottom: 20px;
}
.contacts_container form input {
    width: 302px;
    height: 50px;
}
.contacts_container form .left_inp {
    float: left;
}
.contacts_container form .right_inp {
    float: right;
}
.contacts_container form input,
.contacts_container form textarea {
    outline: none;
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
    color: #666666;
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 0 20px;
}
.contacts_container form textarea {
    width: 100%;
    height: 220px;
    resize: none;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contacts_container form input:focus,
.contacts_container form textarea:focus {
    border-color: #2ec06c;
}
.contacts_container .send {
    position: relative;
}
.contacts_container .send input {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 220px;
    width: 45px;
    border-radius: 0 5px 5px 0;
    background: url(../img/plane.png) no-repeat,#2ec06c ;
    background-position: 50%;
    border: none;
    outline: none;
}
.contacts_container .send input:hover {
    opacity: 0.8;
    cursor: pointer;
}
/* Popup
------------------------------------------------------------------------------------ */
.popup {
    width: 100%;
    min-height: 100%;
    position:absolute;
    top:0px;
    background: rgba(0,0,0,.6);
    z-index: 1000;
}
.popup .popup-content {
    padding: 15px 6px;
    width: 430px;
    background: white;
    border-radius: 4px;
    position: relative;
    margin: 6% auto;
    padding: 30px;
}
.popup .popup-content .close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background: url(../img/close.png) no-repeat;
    width: 16px;
    height: 16px;
}
.popup .popup-content h2 {
    text-align: center;
    font-size: 20px;
}
.popup .popup-content form {
    background: #f2f2f2;
    padding: 30px;
    border-radius: 4px;
    margin-top: 20px;
}
.popup .popup-content form input[type="text"] {
    width: 100%;
    height: 50px;
    outline: none;
    font-family: 'MyriadPro-Regular';
    font-size: 16px;
    color: #666666;
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
}
.popup .popup-content form input[type="text"]:focus {
    border-color: #2ec06c;
}
.popup .popup-content form input[type="submit"] {
    width: 100%;
    background: #2ec06c;
    border: 1px solid #2ec06c;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-family: 'MyriadPro-Regular';
    font-size: 18px;
    -webkit-transition: 0.7s;
     -moz-transition: 0.7s;
     -o-transition: 0.7s;
     transition: 0.7s;
}
.popup .popup-content form input[type="submit"]:hover {
    background: #07853c;
}
/* Footer
------------------------------------------------------------------------------------ */
.footer_container {
    height: 50px;
    min-width: 960px;
    background: #eeeeee;
    padding-top: 18px;
}
.footer_container p {
    color: #2f2f2f;
}
.footer_container p a {
    font-size: 16px;
    color: #2ec06c;
    text-decoration: none;
}
.footer_container p a:hover {
    text-decoration: underline;
}
